<p>room works!</p>
<router-outlet></router-outlet>
<div class="container">
<div class="row">
<div class="col-sm">
<img src="../../assets/user.png">
</div>
<div class="col-sm">
    <img src="../../assets/user.png">
    </div>
</div>

<div class="row">
<div class="col-xl">
<p>AAAAAAAAAAAAA</p>
</div>  
</div>

<div class="row">
    <div class="col-sm">
        <img src="../../assets/user.png">
        </div>
        <div class="col-sm">
            <img src="../../assets/user.png">
            </div>
</div>
</div>